{% extends 'base.html.twig' %}
{% block body %}
    <div class="row justify-content-md-center">
        <div class="col">
            <h1><span>Welcome to</span> Taskfony</h1>
            PWD: <code>{{ base_dir }}</code> <br> <br>
            <a  href="{{ path('fos_user_registration_register') }}"
                class="btn btn-secondary">Sign up</a>
        </div>
    </div>

{% endblock %}