{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'Welcome to Taskfony'|trans({'%username%': user.username}) }}</p>
    <a href="{{ path('todo_create') }}" class="btn btn-primary">Add you first Task</a>
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
